body {
    font-family: 'Inter', serif;
    font-size: 20px;
}

.roundcorners {
    border-radius: 20px;
}

.z-depth-roundoutline {
    box-shadow: 0px 0px 2px 2px #9F84D9;
}

.rounded-mask {
    border-radius: 20px;
    overflow: hidden;
    width: fit-content;
}

.width100 {
    width: 100%;
}

.btn, .btn-large {
    border-radius: 10px;
}

nav ul a {
    color: black;
}

nav .brand-logo {
    color: black;
    padding-top: 10px
}

.collapsible-body {
    background-color: #F3F0F9;
}

.material-icons {
    font-size: 28px;
    vertical-align: middle;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 8px;
}

/* Track */

::-webkit-scrollbar-track {
    background: white;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #4B21A6;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #9F84D9;
}

.sidenav-trigger {
    color: black;
}