{% extends 'main/base.html' %}
{% load materializecss %}

{% block title %}
FlyPhoto
{% endblock %}

{% block content %}


<a class="waves-effect waves-purple btn-flat">
    <i class="material-icons indigo-text">
        arrow_back_ios
    </i>
    К проекту
</a>

<form action="{% url 'edit_project' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row roundcorners z-depth-roundoutline">
        <div class="col s12 m6">
            <div class="card large z-depth-0" style="overflow:auto">
                <div class="container">

                    {{ form|materializecss }}

                </div>
            </div>
        </div>
        <div class="col s12 m6 roundcorners" style="background: linear-gradient(180deg, #4B21A6 0%, #D490CD 100%);">
            <div class="card large z-depth-0"
                style="overflow:auto; background: linear-gradient(180deg, #4B21A6 0%, #D490CD 100%);">
                <div class="rounded-mask center-align width100" style="padding:20px">
                    <video class="width100" src="https://www.w3schools.com/html/mov_bbb.mp4" autoplay muted loop
                        playsinline></video>
                </div>
            </div>
        </div>
    </div>

    <div class="right-align">
        <input type="submit" class="btn-large deep-purple darken-4 white-text"
            value="Заказать услугу">
        <!--a href="#" type="submit" class="btn" style="color: black; background: #C4C4C4;">Войти</a-->
    </div>

</form>


{% endblock %}