{% extends 'main/base.html' %}

{% block title %}
FlyPhoto
{% endblock %}

{% block content %}


<div class="row" style="padding: 40px 0 0 0">
    <div class="col s12 m6" style="padding: 0">
        <h3><b>ВЫ МОЖЕТЕ СОЗДАТЬ СВОЕ ВИДЕО ДЛЯ МЕРОПРИЯТИЯ</b></h3>
    </div>
    <div class="col s12 m6">
        <div>
            <div>
                <video class="width100" src="https://www.w3schools.com/html/mov_bbb.mp4" autoplay muted loop
                    style="padding: 20px 0">
                </video>
            </div>
        </div>
    </div>
    <div class="col s12 m6">
        <div>
            <a href="{% url 'create_project' %}" class="btn-large deep-purple darken-4 waves-effect waves-light">
                Попробовать
            </a>
        </div>
    </div>
</div>




{% endblock %}